/* assets/style.css */
.footer {
  background-color: #f8f9fa;
  color: #5a5a5a;
  padding: 20px 0;
  font-size: 0.9em;
}

.footer p {
  margin: 0;
}

.footer a {
    color: #007bff;  /* GitHub link color */
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.03);
  transition: transform 0.3s ease-in-out;
}

body {
  background-color: #f4f4f4;
  color: #333;
}

/* .navbar {
  background-color: #007bff;
} */
/* 
.card {
  border: none;
} */

.btn-primary {
  background-color: #007bff;
}

/* assets/style.css */
.bi-github {
    font-size: 1.5em; /* Adjust the icon size */
    color: #333;      /* Adjust the icon color */
}


.text-center {
    text-align: center;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-4 {
    margin-top: 1.5rem; /* Adjust as needed */
    margin-bottom: 1.5rem; /* Adjust as needed */
}

.text-justify {
    text-align: justify;
}
